[phases.setup]
nixPkgs = ["nodejs_22"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm run build:all", "cd packages/api && npx prisma generate"]

[start]
cmd = "cd packages/api && npm start"
